
.centrar {
    justify-content: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 10%;
}

body {
    background-image: url("../img/login/background_login.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FBFBEF;
}

.izquierda {
    float: left;
}

a {
    text-decoration: none !important;
}

.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;

    -webkit-box-shadow: 2px 1px 44px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 1px 44px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 1px 44px -5px rgba(0, 0, 0, 0.75);
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.google {
    color: #666;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}

.facebook {
    color: #666;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid lightgrey;
}

.google:hover {
    border: 2px solid red;
    color: red;
}

.facebook:hover {
    border: 2px solid #215aa5;
    color: #215aa5;
}
