<template>

    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-3 img-responsive" position="center">
                    <label>Nombre :</label>
                    <p>Software Developer</p><br><br><br>

                    <SortLink name="nombre" >nombre</SortLink>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-8">
                    <div class="col-md-3 img-responsive">
                        <label>Imagen de perfil</label>
            </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">

            <div class="col-md-6">
                <label>Nombre</label>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
                <label>Correo Electronico</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Dirección</label>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">
                <label>Telefono</label>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">
                <label>Conocimientos</label>
            </div>
        </div>
        <div class="row">
        <div class="col-md-4">
                        <button>name="algo"</button>
                </div>
            </div>
        <div class="row">
        <div class="col-md-4">
                    <button>name="algo2"</button>
                </div>
        </div>







    </div>


</template>

<script>


    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import Swatches from 'vue-swatches'
    import "vue-multiselect/dist/vue-multiselect.min.css"

    Vue.use(Notifications);
    let imagen;

    export default {
        name: 'form-usuarios',
        props: ['user'],
        components: {Swatches}, // window.VueSwatches.default - from CDN

        mounted() {

            if (this.user !== "") {

                this.edit_mode = true;

                let $user_edit = JSON.parse(this.user);

                console.log($user_edit);

                this.nombre = $user_edit.nombre;
                this.correo = $user_edit.correo;
                this.dirección = $user_edit.direccion;
                this.teléfono = $user_edit.telefono;
                this.contraseña = '******';
                this.confirmar_contraseña = '******';
                this.imagen_old = $user_edit.imagen;
                this.color = $user_edit.color;
                this.conocimientos = $user_edit.conocimientos;
                this.fechaIng = $user_edit.fechaIng;

            }

        },
        data() {

            return {
                nombre: '',
                correo: '',
                contraseña: '',
                confirmar_contraseña: '',
                dirección: '',
                teléfono: '',
                imagen: '',
                imagen_old: '',
                images: [],
                errors: [],
                edit_mode: false,
                edit_img: false,
                color: ' ',
                conocimientos: ' ',
                fechaIng: ' ',


            }
        },

        methods: {

            submitAction() {
                if (!this.edit_mode) {
                    this.register();
                } else {
                    this.update();
                }
            },

            register() {

                this.errors = [];

                let data = new FormData();
                data.append('nombre', this.nombre);
                data.append('correo', this.correo);
                data.append('contraseña', this.contraseña);
                data.append('confirmar_contraseña', this.confirmar_contraseña);
                data.append('dirección', this.dirección);
                data.append('teléfono', this.teléfono);
                data.append('color', this.color);
                data.append('conocimientos', this.conocimientos);
                data.append('fechaIng', this.fechaIng);

                if (imagen != null) {
                    data.append('imagen', imagen);
                }

                axios.post('/api/user/register',
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {

                    this.$notify({
                        group: 'Notification',
                        title: 'Registro Exitoso',
                        text: '¡Se a registrado  ' + this.nombre + ' exitosamente!',
                        position: 'bottom right',
                        speed: 1000,
                    });

                })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });
            },

            update() {

                this.errors = [];
                let data = new FormData();

                data.append('nombre', this.nombre);
                data.append('correo', this.correo);

                if (this.contraseña !== '******'
                    && this.contraseña.length > 0
                    && this.confirmar_contraseña !== '******'
                    && this.confirmar_contraseña.length > 0
                ) {
                    data.append('contraseña', this.contraseña);
                    data.append('confirmar_contraseña', this.confirmar_contraseña);
                }

                data.append('dirección', this.dirección);
                data.append('teléfono', this.teléfono);
                data.append('color', this.color);
                data.append('conocimientos', this.conocimientos);
                data.append('fechaIng', this.fechIng);

                if (this.edit_img) {
                    if (typeof imagen !== 'undefined')
                        data.append('imagen', imagen);
                }

                data.append('_method', 'PATCH');

                axios.post('/api/user/update/' + JSON.parse(this.user).id,
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {

                    this.$notify({
                        group: 'Notification',
                        title: 'Modificación Exitosa',
                        text: '¡Se a modificado a ' + this.nombre + ' exitosamente!',
                        position: 'bottom right',
                        speed: 1000,
                    });

                }).catch(error => {

                    if (error.response.status === 422) {
                        this.errors = error.response.data.error;
                        console.log(error.response.data.error);

                    }
                    if (error.response.status === 400) {
                        this.$notify({
                            group: 'Notification',
                            title: error.response.data.error,
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    }
                });
            },

            clickToEditImage() {
                this.edit_img = !this.edit_img;
            }
            ,

            limpiaValidacion() {
                this.errors = [];
            }
            ,
            //file input
            uploadImageSuccess(formData, index, fileList) {
                imagen = formData.get('file');
            }
            ,
            beforeRemove(index, done, fileList) {
            }
            ,
            editImage(formData, index, fileList) {
                imagen = formData.get('file');
            }
            ,
            // end file input
        }
    }
</script>

<style scoped>

    .marco_foto {
        border-radius: 4px;
        background-color: #e3edf7;
        height: 170px;
        width: 190px;
        border: 1px dotted #cecece;
        margin-bottom: 10px;
    }

</style>
