<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="content">
        <div class="container centrar fondo">
            <div class="myform form">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Allenare Consultores</h1>
                    </div>
                </div>

                <div class="form-group">
                    <label class="izquierda">Correo electrónico:</label>
                    <input
                        v-model="email"
                        v-on:keyup="limpiaValidacion"
                        :class="(errors.email ? 'form-control input_danger' : 'form-control')"
                        type="email"
                        placeholder="Ingresar Correo Electrónico">

                    <span v-if="errors.email" class="error">¡{{errors.email[0]}}!</span>

                </div>
                <div class="form-group">
                    <label class="izquierda">Contraseña:</label>
                    <input
                        v-model="password"
                        @keyup="limpiaValidacion"
                        :class="(errors.password ? 'form-control input_danger' : 'form-control')"
                        placeholder="contraseña"
                        type="password">
                    <span v-if="errors.password" class="error">¡{{errors.password[0]}}!</span>
                </div>
                <div class="form-group" >
                    <p class="text-center">Al ingresar estas aceptando los <a href="password/terminos">Terminos y condiciónes.</a>

                    </p>
                </div>
                <div class="col-md-12 text-center">
                    <button v-on:click="login()"
                            class="btn btn-block mybtn btn-primary tx-tfm mb-1">Iniciar sesión
                    </button>
                    <span v-if="auth" class="error">¡{{auth}}!</span>
                </div>


                <div class="form-group">
                    <a class="text-center" href="password/reset">¡Olvide mi contraseña!</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: 'login',

        mounted() { },
        data() {
            return {
                email: '',
                password: '',
                os: '',
                errors: [],
                auth: null
            }
        },
        methods: {
            login() {
                this.errors = [];
                this.auth = null;

                let getBrowserInfo = function () {
                    let ua = navigator.userAgent, tem,
                        M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
                    if (/trident/i.test(M[1])) {
                        tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                        return 'IE ' + (tem[1] || '');
                    }
                    if (M[1] === 'Chrome') {
                        tem = ua.match(/\b(OPR|Edge)\/(\d+)/);
                        if (tem != null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
                    }
                    M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
                    if ((tem = ua.match(/version\/(\d+)/i)) != null) M.splice(1, 1, tem[1]);
                    return M.join(' ');
                };

                axios.post('/login',
                    {
                        email: this.email,
                        password: this.password,
                        os: getBrowserInfo

                    })
                    .then(response => {
                        location.href = '/dashboard';
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.auth = error.response.data.error;
                        }

                    });
            },

            limpiaValidacion() {
                this.errors = [];
                this.auth = null;
            }
        }
    }


</script>
<style>
    .error {
        color: #f5593d;
    }

    .input_danger {
        background-color: #ffc0a4;
        border: 1px solid #f5593d;
        color: #f5593d;
    }
</style>
