<template>
    <div class="container centrar fondo">
        <div class="myform form">
            <div class="logo mb-3">
                <div class="col-md-12 text-center"><h3>Recuperar contraseña</h3></div>
                <div class="row justify-content-center">
                    <div class="card-body">
                        <form method="POST" action="https://crud-generador.test/password/email">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">
                                    Correo Electrónico</label>
                                <div class="col-md-6">

                                    <input
                                        v-model="email"
                                        v-on:keyup="limpiaValidacion"
                                        :class="(errors.email ? 'form-control input_danger' : 'form-control')"
                                        type="email"
                                        placeholder="Ingresar Correo Electrónico">

                                    <span v-if="errors.email" class="error">¡{{errors.email[0]}}!</span>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button v-on:click="recoverPassword" class="btn btn-primary">
                                        Enviar correo
                                    </button>
                                    <a href="../login" class="btn btn-secondary text-white">
                                        Regresar
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: 'recuperar',
        mounted() {
        },
        data() {
            return {
                email: '',
                errors: [],
            }
        },
        methods: {
            recoverPassword() {
                this.errors = [];

                axios.post('/password/email',
                    {
                        email: this.email
                    })
                    .then(response => {

                        console.log(response);


                    })
                    .catch(error => {

                        console.log(error.response);

                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.auth = error.response.data.error;
                        }

                    });
            },
            limpiaValidacion() {
                this.errors = [];
            }
        }
    }
</script>


<style>
    .error {
        color: #f5593d;
    }

    .input_danger {
        background-color: #ffc0a4;
        border: 1px solid #f5593d;
        color: #f5593d;
    }
</style>
