<template>
<div>

    <div class="col-md-12 ">
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">ó</span>
        </div>
    </div>




</div>
</template>

<script>
    export default {

        name: 'social',
        mounted() {
        },
        data() {
            return {}
        }
    }
</script>
<style>
    .error {
        color: #f5593d;
    }

    .input_danger {
        background-color: #ffc0a4;
        border: 1px solid #f5593d;
        color: #f5593d;
    }
</style>
