<template>


<div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input v-model="nombre"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.nombre ? 'form-control input_danger' : 'form-control')"
                           type="text"
                           placeholder="Nombre"
                           name="nombre">
                    <span v-if="errors.nombre" class="error">¡{{errors.nombre[0]}}!</span>

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input v-model="correo"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.correo ? 'form-control input_danger' : 'form-control')"
                           type="email"
                           placeholder="Correo electrónico">
                    <span v-if="errors.correo" class="error">¡{{errors.correo[0]}}!</span>

                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input v-model="contraseña"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.contraseña ? 'form-control input_danger' : 'form-control')"
                           type="password"
                           placeholder="Contraseña">
                    <span v-if="errors.contraseña" class="error">¡{{errors.contraseña[0]}}!</span>

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Confirmar contraseña:</label>
                    <input v-model="confirmar_contraseña"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.confirmar_contraseña ? 'form-control input_danger' : 'form-control')"
                           type="password"
                           placeholder="Confirmar contraseña">
                    <span v-if="errors.confirmar_contraseña" class="error">¡{{errors.confirmar_contraseña[0]}}!</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Dirección</label>
                    <input v-model="dirección"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.dirección ? 'form-control input_danger' : 'form-control')"
                           type="text"
                           placeholder="Dirección">
                    <span v-if="errors.dirección" class="error">¡{{errors.dirección[0]}}!</span>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Teléfono:</label>
                    <input v-model="teléfono"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.teléfono ? 'form-control input_danger' : 'form-control')"
                           type="number"
                           placeholder="Teléfono">
                    <span v-if="errors.teléfono" class="error">¡{{errors.teléfono[0]}}!</span>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Conocimientos :</label>
                    <input v-model="conocimientos"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.nombre ? 'form-control input_danger' : 'form-control')"
                           type="text"
                           placeholder="Conocimientos"
                           name="conocimientos">
                    <span v-if="errors.nombre" class="error">¡{{errors.nombre[0]}}!</span>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Fecha de ingreso :</label>
                    <input v-model="fechaIng"
                           v-on:keyup="limpiaValidacion"
                           :class="(errors.nombre ? 'form-control input_danger' : 'form-control')"
                           type="date"
                           placeholder="Fecha de ingreso"
                           name="fechaIng">
                    <span v-if="errors.nombre" class="error">¡{{errors.nombre[0]}}!</span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 img-responsive">
                <label>Imagen de perfil</label>

                <div v-if="edit_mode">

                    <img v-if=" !edit_img"
                         v-model="imagen_old"
                         v-bind:src="imagen_old"
                         class="marco_foto"
                         alt="imagen usuario">
                </div>

                <fileInput
                    v-if="!edit_mode || edit_img"
                    v-model="imagen"
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage">
                </fileInput>


                <button v-if="edit_mode"
                        @click="clickToEditImage"
                        class="mt-3 btn btn-primary btn-fill text-white btn_movil">
                    {{ edit_img ? 'Cancelar' : 'Editar imagen' }}

                </button>

                <span v-if="errors.imagen" class="error">¡{{errors.imagen[0]}}!</span>

            </div>

            <div class="form__field ">
                <div class="form__label">
                    <strong>Seleccionar color:</strong>
                </div>
                <div class="form__input">
                    <swatches v-model="color" colors="text-advanced" popover-to="left"></swatches>
                </div>
            </div>
        </div>
        <span v-if="errors.color" class="error">¡{{errors.color[0]}}!</span>


        <div class="clearfix"></div>
        <div class="row">
            <div class="offset-10"></div>
            <div class="col-md-1 ">
                <button v-on:click="submitAction"
                        class=" mt-3 btn btn-primary btn-fill pull-right text-white btn_movil">
                    {{ !edit_mode ? 'Registrar' : 'Actualizar' }}

                </button>
            </div>

            <div class="col-md-1">
                <a href="/../../usuarios/" class="mt-3 btn btn-secondary btn-fill pull-right text-white btn_movil">
                    Regresar
                </a>
            </div>
        </div>


        <notifications group="Notification" position="bottom right"></notifications>

        <div class="clearfix"></div>

</div>

</template>

<script>


    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import Swatches from 'vue-swatches'
    import "vue-multiselect/dist/vue-multiselect.min.css"

    Vue.use(Notifications);
    let imagen;

    export default {
        name: 'form-usuarios',
        props: ['user'],
        components: {Swatches}, // window.VueSwatches.default - from CDN

        mounted() {

            if (this.user !== "") {

                this.edit_mode = true;

                let $user_edit = JSON.parse(this.user);

                console.log($user_edit);

                this.nombre = $user_edit.nombre;
                this.correo = $user_edit.correo;
                this.dirección = $user_edit.direccion;
                this.teléfono = $user_edit.telefono;
                this.contraseña = '******';
                this.confirmar_contraseña = '******';
                this.imagen_old = $user_edit.imagen;
                this.color = $user_edit.color;
                this.conocimientos = $user_edit.conocimientos;
                this.fechaIng = $user_edit.fechaIng;

            }

        },
        data() {

            return {
                nombre: '',
                correo: '',
                contraseña: '',
                confirmar_contraseña: '',
                dirección: '',
                teléfono: '',
                imagen: '',
                imagen_old: '',
                images: [],
                errors: [],
                edit_mode: false,
                edit_img: false,
                color: ' ',
                conocimientos: ' ',
                fechaIng: ' ',


            }
        },

        methods: {

            submitAction() {
                if (!this.edit_mode) {
                    this.register();
                } else {
                    this.update();
                }
            },

            register() {

                this.errors = [];

                let data = new FormData();
                data.append('nombre', this.nombre);
                data.append('correo', this.correo);
                data.append('contraseña', this.contraseña);
                data.append('confirmar_contraseña', this.confirmar_contraseña);
                data.append('dirección', this.dirección);
                data.append('teléfono', this.teléfono);
                data.append('color', this.color);
                data.append('conocimientos', this.conocimientos);
                data.append('fechaIng', this.fechaIng);

                if (imagen != null) {
                    data.append('imagen', imagen);
                }

                axios.post('/api/user/register',
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {

                    this.$notify({
                        group: 'Notification',
                        title: 'Registro Exitoso',
                        text: '¡Se a registrado  ' + this.nombre + ' exitosamente!',
                        position: 'bottom right',
                        speed: 1000,
                    });

                })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });
            },

            update() {

                this.errors = [];
                let data = new FormData();

                data.append('nombre', this.nombre);
                data.append('correo', this.correo);

                if (this.contraseña !== '******'
                    && this.contraseña.length > 0
                    && this.confirmar_contraseña !== '******'
                    && this.confirmar_contraseña.length > 0
                ) {
                    data.append('contraseña', this.contraseña);
                    data.append('confirmar_contraseña', this.confirmar_contraseña);
                }

                data.append('dirección', this.dirección);
                data.append('teléfono', this.teléfono);
                data.append('color', this.color);
                data.append('conocimientos', this.conocimientos);
                data.append('fechaIng', this.fechIng);

                if (this.edit_img) {
                    if (typeof imagen !== 'undefined')
                        data.append('imagen', imagen);
                }

                data.append('_method', 'PATCH');

                axios.post('/api/user/update/' + JSON.parse(this.user).id,
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {

                    this.$notify({
                        group: 'Notification',
                        title: 'Modificación Exitosa',
                        text: '¡Se a modificado a ' + this.nombre + ' exitosamente!',
                        position: 'bottom right',
                        speed: 1000,
                    });

                }).catch(error => {

                    if (error.response.status === 422) {
                        this.errors = error.response.data.error;
                        console.log(error.response.data.error);

                    }
                    if (error.response.status === 400) {
                        this.$notify({
                            group: 'Notification',
                            title: error.response.data.error,
                            text: '',
                            position: 'bottom right',
                            speed: 1000,
                            type: 'error'
                        });
                    }
                });
            },

            clickToEditImage() {
                this.edit_img = !this.edit_img;
            }
            ,

            limpiaValidacion() {
                this.errors = [];
            }
            ,
            //file input
            uploadImageSuccess(formData, index, fileList) {
                imagen = formData.get('file');
            }
            ,
            beforeRemove(index, done, fileList) {
            }
            ,
            editImage(formData, index, fileList) {
                imagen = formData.get('file');
            }
            ,
            // end file input
        }
    }
</script>
<style>
    .marco_foto {
        border-radius: 4px;
        background-color: #e3edf7;
        height: 170px;
        width: 190px;
        border: 1px dotted #cecece;
        margin-bottom: 10px;
    }
</style>

