<template>
    <section class="timeline">
        <ol>

            <li v-for="time in timeline">
                <div>
                    <a class="float-right" href="#" @click.prevent="destroy(time.id)"><i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <time>{{time.titulo}}</time>
                    <p class="fontTime">{{ time.fecha }}</p>
                    <p class="containt-text">{{time.description}}.</p>

                    <img :src="time.Imagen" class="img_brand">

                </div>
            </li>

            <li></li>
        </ol>


        <div class="arrows">
            <button class="arrow arrow__prev" >
                <img src="images/left-arrow.svg" alt="prev timeline arrow">
            </button>

            <button class="arrow arrow__prev" >
                <img src="images/plus.svg" data-toggle="modal" data-target="#create" alt="prev timeline arrow">
            </button>

            <button class="arrow arrow__next">
                <img src="images/right-arrow.svg" alt="next timeline arrow">
            </button>
        </div>


        <div class="modal fade" id="create">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="float-left">Nuevo Cliente</h4>
                        <button type="button" class="close" data-dismiss="modal">


                        </button>

                    </div>
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <input v-model="titulo"
                                           v-on:keyup="limpiaValidacion"
                                           :class="(errors.titulo ? 'form-control input_danger' : 'form-control')"
                                           type="text"
                                           placeholder="titulo">
                                    <span v-if="errors.titulo" class="error">¡{{errors.titulo[0]}}!</span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <input v-model="description"
                                           v-on:keyup="limpiaValidacion"
                                           :class="(errors.description ? 'form-control input_danger' : 'form-control')"
                                           type="text"
                                           placeholder="breve descripción">
                                    <span v-if="errors.description" class="error">¡{{errors.description[0]}}!</span>

                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label>fecha:</label>
                                <date-pick v-model="date"
                                           :pickTime="true"
                                           :format="'YYYY-MM-DD HH:mm'"
                                ></date-pick>
                                <br v-if="errors.fecha">
                                <span v-if="errors.fecha" class="error">¡{{errors.fecha[0]}}!</span>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-8 img-responsive margenImg">
                            <label>Imagen</label>

                            <input v-on:change="onFileChange()" ref="img" type="file" class="form-control-file">
                            <span v-if="errors.Imagen" class="error">¡{{errors.Imagen[0]}}!</span>

                        </div>


                        <div class="clearfix"></div>


                        <notifications group="Notification" position="bottom right"></notifications>

                    </div>
                    <div class="modal-footer">
                        <input v-on:click="create" type="submit" class="btn btn-primary" value="Guardar">

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Vue from 'vue'
    import Notifications from 'vue-notification'
    import DatePick from 'vue-date-pick';
    import 'vue-date-pick/dist/vueDatePick.css';

    Vue.use(Notifications);

    export default {
        name: "TimeLine",
        components: {DatePick},


        mounted() {

            this.runtimeline();

            this.getTimeline();
        },


        data() {

            return {
                titulo: '',
                description: '',
                Imagen: '',
                date: this.getfullDate(),
                timeline: [],
                errors: [],
            }
        },
        methods: {
            runtimeline() {
                (function () {

                    // VARIABLES
                    const timeline = document.querySelector(".timeline ol"),
                        elH = document.querySelectorAll(".timeline li > div"),
                        arrows = document.querySelectorAll(".timeline .arrows .arrow"),
                        arrowPrev = document.querySelector(".timeline .arrows .arrow__prev"),
                        arrowNext = document.querySelector(".timeline .arrows .arrow__next"),
                        firstItem = document.querySelector(".timeline li:first-child"),
                        lastItem = document.querySelector(".timeline li:last-child"),
                        xScrolling = 280,
                        disabledClass = "disabled";

                    // START
                    window.addEventListener("load", init);

                    function init() {
                        setEqualHeights(elH);
                        animateTl(xScrolling, arrows, timeline);
                        setSwipeFn(timeline, arrowPrev, arrowNext);
                        setKeyboardFn(arrowPrev, arrowNext);
                    }

                    // SET EQUAL HEIGHTS
                    function setEqualHeights(el) {
                        let counter = 0;
                        for (let i = 0; i < el.length; i++) {
                            const singleHeight = el[i].offsetHeight;

                            if (counter < singleHeight) {
                                counter = singleHeight;
                            }
                        }

                        for (let i = 0; i < el.length; i++) {
                            el[i].style.height = `${counter}px`;
                        }
                    }

                    // CHECK IF AN ELEMENT IS IN VIEWPORT
                    // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
                    function isElementInViewport(el) {
                        const rect = el.getBoundingClientRect();
                        return (
                            rect.top >= 0 &&
                            rect.left >= 0 &&
                            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                        );
                    }

                    // SET STATE OF PREV/NEXT ARROWS
                    function setBtnState(el, flag = true) {
                        if (flag) {
                            el.classList.add(disabledClass);
                        } else {
                            if (el.classList.contains(disabledClass)) {
                                el.classList.remove(disabledClass);
                            }
                            el.disabled = false;
                        }
                    }

                    // ANIMATE TIMELINE
                    function animateTl(scrolling, el, tl) {
                        let counter = 0;
                        for (let i = 0; i < el.length; i++) {
                            el[i].addEventListener("click", function () {
                                if (!arrowPrev.disabled) {
                                    arrowPrev.disabled = true;
                                }
                                if (!arrowNext.disabled) {
                                    arrowNext.disabled = true;
                                }
                                const sign = (this.classList.contains("arrow__prev")) ? "" : "-";
                                if (counter === 0) {
                                    tl.style.transform = `translateX(-${scrolling}px)`;
                                } else {
                                    const tlStyle = getComputedStyle(tl);
                                    // add more browser prefixes if needed here
                                    const tlTransform = tlStyle.getPropertyValue("-webkit-transform") || tlStyle.getPropertyValue("transform");
                                    const values = parseInt(tlTransform.split(",")[4]) + parseInt(`${sign}${scrolling}`);
                                    tl.style.transform = `translateX(${values}px)`;
                                }

                                setTimeout(() => {
                                    isElementInViewport(firstItem) ? setBtnState(arrowPrev) : setBtnState(arrowPrev, false);
                                    isElementInViewport(lastItem) ? setBtnState(arrowNext) : setBtnState(arrowNext, false);
                                }, 1100);

                                counter++;
                            });
                        }
                    }

                    // ADD SWIPE SUPPORT FOR TOUCH DEVICES
                    function setSwipeFn(tl, prev, next) {
                        const hammer = new Hammer(tl);
                        hammer.on("swipeleft", () => next.click());
                        hammer.on("swiperight", () => prev.click());
                    }

                    // ADD BASIC KEYBOARD FUNCTIONALITY
                    function setKeyboardFn(prev, next) {
                        document.addEventListener("keydown", (e) => {
                            if ((e.which === 37) || (e.which === 39)) {
                                const timelineOfTop = timeline.offsetTop;
                                const y = window.pageYOffset;
                                if (timelineOfTop !== y) {
                                    window.scrollTo(0, timelineOfTop);
                                }
                                if (e.which === 37) {
                                    prev.click();
                                } else if (e.which === 39) {
                                    next.click();
                                }
                            }
                        });
                    }

                })();
            },


            getTimeline() {
                axios.get('/api/timeline').then(result => {
                    this.timeline = result.data.success;
                }).catch(error => console.log(error));
            },

            create() {
                this.errors = [];

                let data = new FormData();
                data.append('fecha', this.date);
                data.append('titulo', this.titulo);
                data.append('description', this.description);
                data.append('Imagen', this.Imagen);

                if (this.$refs.img.files[0] != null) {
                    data.append('imagen', this.$refs.img.files[0]);
                }

                axios.post('/api/timeline/create',
                    data,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(response => {


                    this.$refs.img.type = 'text';
                    this.$refs.img.type = 'file';

                    this.$swal(
                        'Agendando servicio',
                        'Registro exitoso!',
                        'success',
                    );

                    this.getTimeline();
                })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.error;
                        }
                        if (error.response.status === 400) {
                            this.$notify({
                                group: 'Notification',
                                title: error.response.data.error,
                                text: '',
                                position: 'bottom right',
                                speed: 1000,
                                type: 'error'
                            });


                        }
                    });
            },

            destroy(id) {

                this.$swal({
                    title: 'Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podras revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('api/timeline/destroy/' + id)
                            .then(response => {

                                this.$swal(
                                    'Eliminado!',
                                    'evento eliminado',
                                    'success'
                                );
                                this.getTimeline();


                            })
                            .catch(error => {
                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.error,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }
                })


            },


        limpiaValidacion() {
            this.errors = [];
        },

            onFileChange(e) {
                this.Imagen = this.$refs.img.files[0];
            },
            getfullDate() {

                let dia = "0";
                let mes = "0";


                if (new Date().getMonth() >= 10) {
                    mes = new Date().getMonth();
                } else {
                    mes = "0" + new Date().getMonth();

                }

                if (new Date().getDay() >= 10) {
                    dia = new Date().getDay();
                } else {
                    dia = "0" + new Date().getDay();

                }
                return new Date().getFullYear() + "-" + mes + "-" + dia + " " + new Date().getHours() + ":" + new Date().getMinutes();

            },
        }


    }
</script>

<style scoped>

    .img_brand {
        max-height: 60px;
        object-fit: scale-down;
    }

    .fontTime {
        font-size: 12px;
        font-family: Arial;
    }

    .containt-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    button {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }


    /* .section SECTION
    –––––––––––––––––––––––––––––––––––––––––––––––––– */


    .section .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    .section h1 {
        font-size: 2.5rem;
    }

    .section h2 {
        font-size: 1.3rem;
    }


    /* TIMELINE
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

    .timeline {
        white-space: nowrap;
        overflow-x: hidden;
    }

    .timeline ol {
        font-size: 0;
        width: 100vw;
        padding: 250px 0;
        transition: all 1s;
    }

    .timeline ol li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        width: 160px;
        height: 3px;
        background: #fff;
    }

    .timeline ol li:last-child {
        width: 280px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: 14px;
    }

    .timeline ol li:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 1px);
        bottom: 0;
        width: 12px;
        height: 12px;
        transform: translateY(-50%);
        border-radius: 50%;
        background: #f4c827;
    }

    .timeline ol li div {
        position: absolute;
        left: calc(100% + 7px);
        width: 280px;
        padding: 15px;
        font-size: 1rem;
        white-space: normal;
        color: black;
        background: white;
    }

    .timeline ol li div::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .timeline ol li:nth-child(odd) div {
        top: -16px;
        transform: translateY(-100%);
    }

    .timeline ol li:nth-child(odd) div::before {
        top: 100%;
        border-width: 8px 8px 0 0;
        border-color: white transparent transparent transparent;
    }

    .timeline ol li:nth-child(even) div {
        top: calc(100% + 16px);
    }

    .timeline ol li:nth-child(even) div::before {
        top: -8px;
        border-width: 8px 0 0 8px;
        border-color: transparent transparent transparent white;
    }

    .timeline time {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 8px;
    }


    /* TIMELINE ARROWS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

    .timeline .arrows {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .timeline .arrows .arrow__prev {
        margin-right: 20px;
    }

    .timeline .disabled {
        opacity: .5;
    }

    .timeline .arrows img {
        width: 45px;
        height: 45px;
    }


    /* GENERAL MEDIA QUERIES
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    @media screen and (max-width: 599px) {
        .timeline ol,
        .timeline ol li {
            width: auto;
        }

        .timeline ol {
            padding: 0;
            transform: none !important;
        }

        .timeline ol li {
            display: block;
            height: auto;
            background: transparent;
        }

        .timeline ol li:first-child {
            margin-top: 25px;
        }

        .timeline ol li:not(:first-child) {
            margin-left: auto;
        }

        .timeline ol li div {
            width: 94%;
            height: auto !important;
            margin: 0 auto 25px;
        }

        .timeline ol li div {
            position: static;
        }

        .timeline ol li:nth-child(odd) div {
            transform: none;
        }

        .timeline ol li:nth-child(odd) div::before,
        .timeline ol li:nth-child(even) div::before {
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            border: none;
            border-left: 1px solid white;
            height: 25px;
        }

        .timeline ol li:last-child,
        .timeline ol li:nth-last-child(2) div::before,
        .timeline ol li:not(:last-child)::after,
        .timeline .arrows {
            display: none;
        }
    }


</style>
