<template>

    <div>
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i><label>Nuevo Registro de proyecto</label>
            </div>
            <div class="card-body">
                <div class="content">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre Proyecto:</label>

                                <input
                                    v-model="nombre_Proyecto"
                                    class="form-control"
                                    type="text"
                                    placeholder="Nombre Proyecto"
                                    name="Nombre Proyecto">
                                <span v-if="errors.nombre_Proyecto" class="error">¡{{errors.nombre_Proyecto[0]}}!</span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre Empresa:</label>
                                <input v-model="nombre_Empresa"
                                       class="form-control"
                                       type="text"
                                       placeholder="Nombre Empresa"
                                       name="Nombre Nombre Empresa">
                                <span v-if="errors.nombre_Empresa" class="error">¡{{errors.nombre_Empresa[0]}}!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Recursos Requeridos:</label>
                                <input v-model="Recursos_Requeridos"
                                       class="form-control"
                                       type="text"
                                       placeholder="Recursos Requeridos"
                                       name="Recursos Requeridos">
                                <span v-if="errors.Recursos_Requeridos" class="error">¡{{errors.Recursos_Requeridos[0]}}!</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Alcance:</label>
                                <input v-model="alcance"
                                       class="form-control"
                                       type="text"
                                       placeholder="Descripcion de actividades"
                                       name="Alcance">
                                <span v-if="errors.alcance" class="error">¡{{errors.alcance[0]}}!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Condiciones:</label>
                                <input v-model="condiciones"
                                       class="form-control"
                                       type="text"
                                       placeholder="Condiciones"
                                       name="Nombre Condiciones">
                                <span v-if="errors.condiciones" class="error">¡{{errors.condiciones[0]}}!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Comentarios:</label>
                                <input v-model="comentarios"
                                       class="form-control"
                                       type="text"
                                       placeholder="Comentarios"
                                       name="Comentarios">
                                <span v-if="errors.comentarios" class="error">¡{{errors.comentarios[0]}}!</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Horas programadas:</label>
                                <input v-model="horas_Programadas"
                                       class="form-control"
                                       type="number"
                                       placeholder="10-100-1000 horas"
                                       name="Horas programadas">
                                <span v-if="errors.horas_Programadas"
                                      class="error">¡{{errors.horas_Programadas[0]}}!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Horas Realizadas:</label>
                                <input v-model="horas_Realizadas"
                                       class="form-control"
                                       type="number"
                                       placeholder="10-100-1000 horas"
                                       name="Horas Realizadas">
                                <span v-if="errors.horas_Realizadas"
                                      class="error">¡{{errors.horas_Realizadas[0]}}!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Horas Restantes:</label>
                                <input v-model="horas_Restantes"
                                       class="form-control"
                                       disabled type="number"
                                       placeholder=" horas"
                                       name="Horas Restantes">
                                <span v-if="errors.horas_Restantes" class="error">¡{{errors.horas_Restantes[0]}}!</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">


                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha Inicial:</label>

                                <date-pick
                                    class="form-control input-file"
                                    v-model="fecha_Inicial"
                                    :pickTime="true"
                                    :format="'YYYY-MM-DD HH:mm'"></date-pick>
                                <span v-if="errors.fecha_Inicial" class="error">¡{{errors.fecha_Inicial[0]}}!</span>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha Final:</label>
                                <date-pick
                                    class="form-control input-file"
                                    v-model="fecha_Final"
                                    :pickTime="true"
                                    :format="'YYYY-MM-DD HH:mm'"></date-pick>
                                <span v-if="errors.fecha_Final" class="error">¡{{errors.fecha_Final[0]}}!</span>
                            </div>
                        </div>
                        <div class="col-md-3" v-if="!edit_mode">
                            <label>Cronograma</label>
                            <input ref="cronograma"
                                   type="file"
                                   class="form-control-file"
                                   accept="application/pdf, application/vnd.ms-excel">
                            <span v-if="errors.cronograma" class="error">¡{{errors.cronograma[0]}}!</span>
                        </div>
                        <div class="col-md-3" v-if="edit_mode">
                            <a class="btn btn-primary" :href="cronograma">Ver cronograma</a>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-5" v-if="!edit_mode">
                            <div class="form-group">
                                <label>Encargado de proyecto:</label>
                                <select class="form-control" v-model="encargado">
                                    <option selected value="">Seleccióna a un encargado</option>
                                    <option v-for="usuario in usuarios" :value="usuario.id">{{ usuario.nombre}}</option>
                                </select>
                            </div>
                            <span v-if="errors.encargado" class="error">¡{{errors.encargado[0]}}!</span>

                        </div>
                        <div class="col-md-3" v-if="edit_mode">
                            <div class="form-group">
                                <label>Encargado de proyecto:</label>
                                <input class="form-control" readonly type="text" :value="encargado"></input>
                            </div>
                        </div>
                        <div class="col-md-2" v-if="edit_mode">
                            <div class="form-group">
                                <label>Color del usuario:</label>

                                <input disabled type="color" :value="color">
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="container" align="left">
                            <input @click="guardar" class="btn btn-primary" type="submit" value="Guardar"
                                   name="GuardarP"
                                   style="height:50px;  width:105px;">


                            <input @click="limpiar" class="btn btn-primary" type="submit" value="Limpiar" name="clean "
                                   v-if="!edit_mode"
                                   style="height:50px;  width:105px;">


                            <span v-if="errors,noinsert" class="error">¡{{errors.noinsert }}!</span>

                            <input @click="destroy(id_proyecto)" class="btn btn-secondary" value="Eliminar"
                                   v-if="edit_mode"
                                   style="height:50px;  width:105px;">


                            <span v-if="errors,noinsert" class="error">¡{{errors.noinsert }}!</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

    </div>
</template>

<script>

    import DatePick from 'vue-date-pick';
    import 'vue-date-pick/dist/vueDatePick.css';
    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';

    Vue.use(VueSweetalert2);

    export default {
        name: "form-proyectos",
        components: {DatePick},
        props: ['proyecto'],
        data() {
            return {
                id_proyecto: '',
                nombre_Proyecto: '',
                nombre_Empresa: '',
                Recursos_Requeridos: '',
                alcance: '',
                condiciones: '',
                comentarios: '',
                horas_Programadas: '',
                horas_Restantes: '',
                horas_Realizadas: '',
                fecha_Inicial: '',
                fecha_Final: '',
                errors: [],
                usuarios: [],
                noinsert: '',
                encargado: '',
                color: '#81f781',
                edit_mode: false,

            }
        },
        mounted() {
            this.listarUsuarios();

            if (this.proyecto !== "") {

                this.edit_mode = true;

                let $edit = JSON.parse(this.proyecto);
                console.log($edit);
                this.id_proyecto = $edit.id;
                this.nombre_Proyecto = $edit.nombre_Proyecto;
                this.nombre_Empresa = $edit.nombre_Empresa;
                this.Recursos_Requeridos = $edit.Recursos_Requeridos;
                this.alcance = $edit.alcance;
                this.condiciones = $edit.condiciones;
                this.comentarios = $edit.comentarios;
                this.horas_Programadas = $edit.horas_Programadas;
                this.horas_Realizadas = $edit.horas_Realizadas;
                this.horas_Restantes = $edit.horas_Restantes;
                this.fecha_Inicial = $edit.fecha_Inicial;
                this.fecha_Final = $edit.fecha_Final;
                this.encargado = $edit.usuario.nombre;
                this.color = $edit.usuario.color;
                this.cronograma = $edit.cronograma;


            }


        },
        methods: {
            limpiar() {


                this.$swal({
                    title: 'Limpiar formulario?',
                    type: 'warning',
                    text: "No podras revertir !",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Limpiar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        this.nombre_Proyecto = '';
                        this.nombre_Empresa = '';
                        this.Recursos_Requeridos = '';
                        this.alcance = '';
                        this.condiciones = '';
                        this.comentarios = '';
                        this.horas_Programadas = '';
                        this.horas_Realizadas = '';
                        this.horas_Restantes = '';
                        this.fecha_Inicial = '';
                        this.fecha_Final = '';
                        this.$refs.cronograma.type = 'text';
                        this.$refs.cronograma.type = 'file';

                        this.errors = [];// para enlistar y mostrar errores dice manzxano que lo limpie
                        this.noinsert = '';
                    }
                });


            },

            guardar() {


                //axios.post('api/proyecto/nuevo');
                let data = new FormData();
                data.append('nombre_Proyecto', this.nombre_Proyecto);
                data.append('nombre_Empresa', this.nombre_Empresa);
                data.append('Recursos_Requeridos', this.Recursos_Requeridos);
                data.append('alcance', this.alcance);
                data.append('condiciones', this.condiciones);
                data.append('comentarios', this.comentarios);
                data.append('horas_Programadas', this.horas_Programadas);
                data.append('horas_Realizadas', this.horas_Realizadas);
                data.append('horas_Restantes', this.horas_Restantes);
                data.append('fecha_Inicial', this.fecha_Inicial);
                data.append('fecha_Final', this.fecha_Final);
                data.append('encargado', this.encargado);
                data.append('cronograma', this.$refs.cronograma.files[0]);

                axios.post('/api/proyecto/nuevo', data)
                    .then(result => {

                        console.log(result);

                        this.$swal({
                            title: 'Se registro con exito',
                            type: 'success',
                            text: "Continuar !",
                        });


                    })
                    .catch(result => {
                        if (result.response.status === 422) {
                            this.errors = result.response.data.error;
                        }
                        if (result.response.status === 400) {
                            this.noinsert = result.response.data.error;
                        }
                    })


            },

            listarUsuarios() {

                axios.get('/api/user/getUsersAll')
                    .then(result => {
                        this.usuarios = result.data.data.users;
                    })
                    .catch(result => {
                        console.log(result);
                    })


            },
            destroy(id) {



                this.$swal({
                    title: 'Estas seguro de eliminar?',
                    type: 'warning',
                    text: "No podras revertir esta acción!",
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',

                }).then((result) => {
                    if (result.value) {

                        axios.delete('../api/proyecto/destroy/' + id)
                            .then(response => {

                                this.$swal(
                                    'Eliminado!',
                                    'Proyecto eliminado',
                                    'success'
                                );

                                location.href="/calendario";



                            })
                            .catch(error => {
                                this.$notify({
                                    group: 'Notification',
                                    title: error.response.error,
                                    text: '',
                                    position: 'bottom right',
                                    speed: 1000,
                                    type: 'error'
                                });
                            });


                    }
                })


            },

        }

    }
</script>

<style scoped>

    .error {
        color: #f5593d;
    }


    .input-file {
        border: 0;
        width: 100%;
        outline: transparent;
        position: relative;
        display: inline-block;
        font-size: 10px;
        color: #303030;
    }

</style>
